<ion-header>


  <ion-toolbar class="grey">
    
    <div slot="start" class="ion-margin idioma" >
    </div>


    <div class="logo-uc">
      <img src="assets/images/Logo_DuocUC.svg.png" alt="Logo UC" class="logo-uc" >
    </div>
    <div slot="end">
      <ion-title class="text-left" #titulo>
        Sistema de Asistencia 
      </ion-title>


      <ion-button (click)="logout()" size="small" fill="clear">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>

    </div>
   </ion-toolbar>
</ion-header>


