<ion-content>
  <img class="background-image"src="/assets/images/1725086412.jpg">

  <ion-grid fixed *ngIf="asistencia" class="attendance-table">
    <ion-row class="header-row">
      <ion-col size="12">
        <h2>Datos de Asistencia</h2>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="5">Asignatura</ion-col>
      <ion-col size="7">{{ asistencia.nombreAsignatura }}</ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="5">Profesor</ion-col>
      <ion-col size="7">{{ asistencia.nombreProfesor }}</ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="5">Sección</ion-col>
      <ion-col size="7">{{ asistencia.seccion }}</ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="5">Día</ion-col>
      <ion-col size="7">{{ asistencia.dia }}</ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="5">Hora Inicio</ion-col>
      <ion-col size="7">{{ asistencia.horaInicio }}</ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="5">Hora Fin</ion-col>
      <ion-col size="7">{{ asistencia.horaFin }}</ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="5">Sede</ion-col>
      <ion-col size="7">{{ asistencia.sede }}</ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="!asistencia" class="center-frame">
    <div class="picture-frame ion-text-center">
      <img class="you-must-scan" src="/assets/images/you-must-scan.png">
    </div>
  </div>
</ion-content>