<ion-content #page class="ion-padding">
  <div class="background-image"></div>

  <ion-card>

    <ion-card-header>
      <ion-card-title>¡Bienvenido(a)!: {{usuario.nombre}} {{usuario.apellido}} </ion-card-title>
    </ion-card-header>
    <ion-card-header color="duoc-azul">
      <ion-card-title class="ion-text-center" style="color: white;">
        Información de la Clase
      </ion-card-title>
    </ion-card-header>

    <br>

    <ion-card-content>
      <ion-grid>
        <ion-row class="header-row">
          <ion-col><strong>Bloque de Inicio</strong></ion-col>
          <ion-col>{{ bloqueInicio }}</ion-col>
        </ion-row>

        <ion-row class="data-row">
          <ion-col><strong>Bloque de Término</strong></ion-col>
          <ion-col>{{ bloqueTermino }}</ion-col>
        </ion-row>

        <ion-row class="header-row">
          <ion-col><strong>Día</strong></ion-col>
          <ion-col>{{ dia }}</ion-col>
        </ion-row>

        <ion-row class="data-row">
          <ion-col><strong>Hora de Inicio</strong></ion-col>
          <ion-col>{{ horaInicio }}</ion-col>
        </ion-row>

        <ion-row class="header-row">
          <ion-col><strong>Hora de Fin</strong></ion-col>
          <ion-col>{{ horaFin }}</ion-col>
        </ion-row>

        <ion-row class="data-row">
          <ion-col><strong>Sigla</strong></ion-col>
          <ion-col>{{ idAsignatura }}</ion-col>
        </ion-row>

        <ion-row class="header-row">
          <ion-col><strong>Nombre de Asignatura</strong></ion-col>
          <ion-col>{{ nombreAsignatura }}</ion-col>
        </ion-row>

        <ion-row class="data-row">
          <ion-col><strong>Nombre del Profesor</strong></ion-col>
          <ion-col>{{ nombreProfesor }}</ion-col>
        </ion-row>

        <ion-row class="header-row">
          <ion-col><strong>Sección</strong></ion-col>
          <ion-col>{{ seccion }}</ion-col>
        </ion-row>

        <ion-row class="data-row">
          <ion-col><strong>Sede</strong></ion-col>
          <ion-col>{{ sede }}</ion-col>
        </ion-row>
      </ion-grid>

      <br><br>
      

    </ion-card-content>

   
    

</ion-card>

</ion-content>